* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(p5.jpg) no-repeat;
}
.wrap {
  width: 1000px;
  height: 554px;
  margin: 50px auto;
}
.left-side {
  width: 350px;
  height: 554px;
  float: left;
  padding-left: 44px;
  padding-top: 10px;
  background-color: rgba(129, 109, 137, 0.7);
  border-radius: 15px;
}
p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: normal;
}
input {
  outline: none;
  border: 0;
  border-radius: 5px;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  margin-top: 1px;
}
.date,
.money {
  height: 30px;
  background-color: rgb(238, 236, 236);
  padding-left: 5px;
}
.date:focus,
.money:focus {
  border: 1px solid rgb(0, 117, 255);
}
.clear,
.calculate {
  display: block;
  margin-top: 15px;
  outline: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(57, 75, 115);
  color: white;
  font-size: 16px;
}

.right-side {
  width: 600px;
  height: 554px;
  float: right;
  padding-left: 40px;
  padding-top: 10px;
  background-color: rgba(129, 109, 137, 0.3);
  border-radius: 15px;
}
.right-side h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}
table {
    width: 500px;
    border: 1px solid gray;
    border-collapse: collapse;
}
thead tr {
    height: 30px;
}
thead tr th{
    border: 2px solid gray;
    background-color: rgb(56, 42, 42);
    font-size: 16px;
    font-weight: 600;
    color: white;
}
tbody tr td {
    border: 2px solid gray;
    font-size: 14px;
    text-align: center;
}
tbody tr td:last-child{
  cursor: pointer;
  color: red;
}
